.fieldbox {
  border: 1px solid #ef4444;
  height: 7rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.selectbox1 {
  margin-top: 0.75rem;
  height: 2rem;
  width: 8rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  background-color: #cbd5e0;
}

.selectbox2 {
    margin-top: 0.75rem;
    height: 2rem;
    width: 8rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-right: 0.75rem;
    background-color: #cbd5e0;
  }
.selectboxbtn{
    background-color: rgb(132 204 22);
    padding-left: 0.25rem/* 4px */;
    padding-right: 0.25rem;
    font-size: 0.75rem/* 12px */;
    line-height: 1rem;
    height: 2rem;
    margin-top: 0.75rem;
}
.selectboxcontainer{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
}
.btn {
  background-color: rgb(163 230 53);
  margin-right: 0.25rem;
}

.list {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
}

.svgcrcl {
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
}

.list1 {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.childcontainer {
  display: flex;
  height: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: space-between;
  margin-top: 0.75rem;
}

.childcontainer1 {
  border: 1px solid #34d399;
  height: 5rem;
  padding-right: 1rem;
}

.contentcontainer{
    margin-left: 0.75rem/* 12px */;
    margin-right: 0.75rem;
    height: 13rem;
    border: 1px solid skyblue;
}

/* modifying inside content box */

.inputbox{
    background-color: rgb(156 163 175);
    width: 14rem;
    height:1.5rem;
    
}

.inputcontainer{
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
   margin: 0px 8px;
   align-items: center;
    
}
.selectcontainer1btn3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 9px;
    height: 2rem;

}

.inputcontainerbtn1{
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 1rem 0 1rem ;
    height: 2rem;
    align-items: center;
}
.textareabtn1{
    margin-left: 0.625rem;
    margin-top: 0.5rem;
    color: black;
}
