.childcontainer{
    display: flex;
    justify-content: space-around;
}

.text{
    font-weight: 700;
    text-align: center;
}

.alttext{
    font-size: 6rem/* 96px */;
    line-height: 1;
    color: rgb(212, 34, 34);
    margin-top: 0px ;
    margin-bottom: 2rem;
}

.grotext{
    font-size: 6rem/* 96px */;
    line-height: 1;
    color: rgb(251 146 60);
    margin-top: 0px;
    margin-bottom: 2rem;
}

.disttext{
    font-size: 6rem/* 96px */;
    line-height: 1;
    color: rgb(244 114 182 );
    margin-top: 0px;
    margin-bottom: 2rem;
}

.yawtext{
    font-size: 6rem/* 96px */;
    line-height: 1;
    color: rgb(74 222 128);
    margin-top: 0px;
    margin-bottom: 2rem;
}

.vertext{
    font-size: 6rem/* 96px */;
    line-height: 1;
    color: rgb(250 204 21);
    margin-top: 0px;
    margin-bottom: 2rem;
}

.distext{
    font-size: 6rem/* 96px */;
    line-height: 1;
    color: rgb(56 189 248);
    margin-top: 0px;
    margin-bottom: 2rem;
}
